.clockFace{
    border: 40px inset rgb(101 13 13 / 43%);
    background: radial-gradient(#b64141, #030303);
    height: 570px;
    width: 570px;
    border-radius:50%;
    margin: auto;
    position: relative;
}
.secHand{
    border: 1px solid black;
    height:250px;
    position: absolute;
    right:50%;
    bottom: 50%;
    z-index: 5;
    transform-origin: bottom right;    
}
.minHand{
    border: 2px solid silver;
    height: 225px;
    position: absolute;
    transform-origin: bottom right;
    right:50%;
    z-index: 3;
    bottom: 50%;
}
.hrHand{
    border: 3px solid silver;
    height: 180px;
    position: absolute;
    transform-origin: bottom right;
    right:50%;
    z-index: 3;
    bottom: 50%;
}
.center{
    background-color: black;
    height:22px;
    position: absolute;
    top:48%;
    left:48%;
    width: 22px;
    z-index: 6;
    border-radius: 50%;
}
#wDay{
    position: absolute;
    top:19%;
    left: 39%;
}
#month{
    position: absolute;
    top:45%;
    left: 50%;
}
#date{
    position: absolute;
    top:45%;
    left: 34%;
}
#year{
    position: absolute;
    top:67%;
    left: 38%;
}
.center1{
    background-color: #21111124;
    color:#7d7c77;
    border: 2px inset brown ;
    height:120px;
    width: 120px;
    position: absolute;
    top:40%;
    left:60%;    
    border-radius: 50%;    
}
.name{
    position:absolute;
    top: 30%;
    left:47%;
    color: rgb(160, 151, 151);
    z-index: 0;
}
.c12,.c1, .c2, .c3, .c4, .c5, .c6 ,.c7, .c8, .c9, .c10, .c11{
    font-size: 30px;
    /* border: 1px solid black; */
    position: absolute;
    color: white;
    height:260px;
    bottom: 50%;
    right: 50%;
    width: 20px;
    transform-origin : bottom right;
}
.c12{
    transform: rotate(0deg);
}
.c1{
    transform: rotate(30deg);
}
.c2{
    transform: rotate(60deg);
}
.c3{
    transform: rotate(90deg);
}
.c4{
    transform: rotate(120deg);
}
.c5{
    transform: rotate(150deg);
}
.c6{
    transform: rotate(180deg);
}
.c7{
    transform: rotate(210deg);
}
.c8{
    transform: rotate(240deg);
}
.c9{
    transform: rotate(270deg);
}
.c10{
    transform: rotate(300deg);
}
.c11{
    transform: rotate(330deg);
}
@media screen and (max-width:400px){
    .clockFace{
        height: 300px;
        width: 300px;
        margin-top: 30%;
    }
.hrHand{
    height: 80px;
}
.secHand{
    height: 130px;
}
.minHand{
    height: 110px;
}
.c12,.c1, .c2, .c3, .c4, .c5, .c6 ,.c7, .c8, .c9, .c10, .c11{
    height:140px;
    width:20px;
}
.name{
    left:43%;
}
.center1{
    height:60px;
    width: 60px;
}
#wDay{
    top:10%;
    left: 25%;
}
#month{
    top:40%;
    left: 40%;
}
#date{
    top:40%;
    left: 25%;
}
#year{
    top:67%;
    left: 25%;
}
} 